body{
	background-image: url('images/lock_screen.jpg');
	background-size: cover;
	font-family: Segoe UI;
	background-color: black;
}

#profile_box{
	background-image: url('images/profile.png');
	width: 120px;
	height: 120px;
	background-size: cover;
	margin-left: 700px;
	border-radius: 10% 10% 10% 10%;
	margin-top: 300px;
	box-shadow: 0 2px 2.2px rgba(0, 0, 0, 0.034),
			  0 6px 5.3px rgba(0, 0, 0, 0.048),
			  0 10px 10px rgba(0, 0, 0, 0.06),
			  0 17px 17.9px rgba(0, 0, 0, 0.072),
			  0 30px 33.4px rgba(0, 0, 0, 0.086);
}

#pass{
	margin-top: 20px;
	margin-left: 675px;
	float: left;
}

#button{
	margin-top: 20px;
	margin-left: 10px;
	float: left;
	background-image: url('images/button.png');
	width: 23px;
	height: 23px;
	background-size: cover;
	border-radius: 50%;
}
input{
	font-family: Segoe UI;
}
#user{
	margin-left: 710px;
	margin-top: -10px;
	color: white;
	text-shadow: 3px 0px 11px rgba(150, 150, 150, 1);
}
#input{
	margin-top: -15px;
}
#button:hover{
	filter: brightness(1.4);
	transition: 0.1s ease-in;
}
#button:active{
	filter: brightness(0.5);
	transition: 0s ;
}

/*bule spinning wheel */
#spinning-loader{
    top: 410px;
    left: 710px;
    position: absolute;
    transform: translate(-50%,-50%);
    display: none;
  }
  .rotating-wheel{
    border: 4px solid #ccc;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-top-color: #1ecd97;
    border-left-color: #1ecd97;
    animation-timing-function: linear;
    animation: spin 0.9s infinite ease-in-out;
  }
  @keyframes spin{
    0%{
      transform: rotate(deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }